body	{
	background-color: #660AC2;
	}
	
	h1	{
		color: white;
		font-family: "yuanti SC";
		}
		
	h3	{
		color: white;
		font-family: "yuanti SC";
		
		}
		
	img	{
		
		height: 12cm;
		width: 11cm;
		
		}
		
	p	{
		color: white;
		font-family: "yuanti SC";
		}
		
	a	{
		color: white;
		font-family: "yuanti SC";
		
		}
		
		
	
	
	